<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kiss1.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1196},{64,65}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss10.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1363},{96,97}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss11.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1396},{101,102}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss12.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,2068},{107,108}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2573},{110,112}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss14.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,938},{68,86}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss15.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,1190},{71,89}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss16.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1006},{74,76}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss17.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1261},{76,81}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss18.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,1349},{79,86}}</string>
				<key>offset</key>
				<string>{1,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss19.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1261},{80,88}}</string>
				<key>offset</key>
				<string>{2,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss2.png</key>
			<dict>
				<key>frame</key>
				<string>{{500,1196},{64,65}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss20.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1105},{82,91}}</string>
				<key>offset</key>
				<string>{2,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss21.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,620},{70,96}}</string>
				<key>offset</key>
				<string>{9,19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss22.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,770},{71,84}}</string>
				<key>offset</key>
				<string>{9,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss23.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,854},{71,84}}</string>
				<key>offset</key>
				<string>{9,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss24.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,640},{50,82}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss25.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,640},{50,37}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,620},{64,65}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss4.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,843},{64,65}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss5.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,690},{67,67}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss6.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,770},{73,71}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss7.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,1342},{78,78}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss8.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1105},{85,85}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>kiss9.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1015},{90,90}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,134}</string>
			</dict>
			<key>shoe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,2041},{103,103}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe10.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,219},{127,135}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe11.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,0},{125,139}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe12.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,481},{125,139}}</string>
				<key>offset</key>
				<string>{1,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe13.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1262},{90,95}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe14.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1460},{90,95}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe15.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1555},{90,95}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe16.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1460},{90,95}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe17.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1650},{90,95}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1654},{109,97}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe3.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,2176},{114,99}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe4.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,3981},{119,100}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe5.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,2421},{121,100}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2298},{123,107}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe7.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,141},{125,114}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe8.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,144},{124,119}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>shoe9.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1528},{126,125}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,168}</string>
			</dict>
			<key>bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1951},{121,90}}</string>
				<key>offset</key>
				<string>{-1,-35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1832},{236,233}}</string>
				<key>offset</key>
				<string>{-18,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2068},{115,115}}</string>
				<key>offset</key>
				<string>{-17,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2183},{115,115}}</string>
				<key>offset</key>
				<string>{-17,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,1943},{122,83}}</string>
				<key>offset</key>
				<string>{0,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,526},{164,150}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,786},{245,238}}</string>
				<key>offset</key>
				<string>{-12,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,265},{255,261}}</string>
				<key>offset</key>
				<string>{-8,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{241,260}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{257,265}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,786},{229,229}}</string>
				<key>offset</key>
				<string>{-20,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1031},{231,230}}</string>
				<key>offset</key>
				<string>{-20,-23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,276}</string>
			</dict>
			<key>cheers1.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,2408},{110,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers10.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,2298},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers11.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,2068},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers12.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,1262},{101,101}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers13.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,2178},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2685},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers15.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1498},{101,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2795},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2905},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3015},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers4.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1599},{101,101}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3125},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3235},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers7.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,1700},{101,101}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3345},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>cheers9.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,2288},{110,108}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>
			<key>egg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1763},{58,76}}</string>
				<key>offset</key>
				<string>{1,23}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1654},{80,167}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,690},{80,178}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,413},{80,178}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,690},{80,178}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,401},{80,178}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,139},{80,178}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,390},{79,177}}</string>
				<key>offset</key>
				<string>{1,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1031},{267,206}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1298},{267,206}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1565},{267,206}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1801},{88,108}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg6.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,1821},{86,122}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg7.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1821},{84,130}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3455},{83,145}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>egg9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2421},{82,152}}</string>
				<key>offset</key>
				<string>{1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{267,226}</string>
			</dict>
			<key>flower1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3600},{91,132}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower10.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,0},{141,137}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower11.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1396},{125,132}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower12.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,255},{135,134}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower13.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,0},{139,135}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower14.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,0},{144,136}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower15.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,493},{147,137}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower16.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,265},{148,141}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower17.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,3455},{91,132}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3732},{91,132}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3864},{91,132}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3996},{91,132}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower20.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,2542},{90,132}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower3.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,3719},{91,131}}</string>
				<key>offset</key>
				<string>{-9,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower4.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,3850},{91,131}}</string>
				<key>offset</key>
				<string>{-9,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower5.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,3587},{91,132}}</string>
				<key>offset</key>
				<string>{-9,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower6.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,144},{118,132}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower7.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1262},{126,134}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower8.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,0},{133,136}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
			<key>flower9.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,263},{138,137}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>interactionAnimation.png</string>
			<key>realTextureFileName</key>
			<string>interactionAnimation.png</string>
			<key>size</key>
			<string>{1024,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>